video_evaluate/DOVER/pretrained_weights/*.pth filter=lfs diff=lfs merge=lfs -text
datapipeline filter=lfs diff=lfs merge=lfs -text
generate_meta.py filter=lfs diff=lfs merge=lfs -text
print_env.sh filter=lfs diff=lfs merge=lfs -text
utils filter=lfs diff=lfs merge=lfs -text
config filter=lfs diff=lfs merge=lfs -text
del.py filter=lfs diff=lfs merge=lfs -text
filter_again.py filter=lfs diff=lfs merge=lfs -text
quality_detect filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
video_evaluate filter=lfs diff=lfs merge=lfs -text
caption_annotation filter=lfs diff=lfs merge=lfs -text
classify filter=lfs diff=lfs merge=lfs -text
clip_again.py filter=lfs diff=lfs merge=lfs -text
data_generator.py filter=lfs diff=lfs merge=lfs -text
pipeline.py filter=lfs diff=lfs merge=lfs -text
process_again.py filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
scenery_demo.py filter=lfs diff=lfs merge=lfs -text
catch_path.py filter=lfs diff=lfs merge=lfs -text
clip_a.py filter=lfs diff=lfs merge=lfs -text
cogtest filter=lfs diff=lfs merge=lfs -text
del_video.py filter=lfs diff=lfs merge=lfs -text
ocr filter=lfs diff=lfs merge=lfs -text
optical_flow filter=lfs diff=lfs merge=lfs -text
video_scene_detect filter=lfs diff=lfs merge=lfs -text
